# Express
EXPRESS_PORT=3005

DOWNLOADFILE_PATH="../file_to_download_name"

#SOMOS
ZOHO_CLIENT_ID=""
ZOHO_CLIENT_SECRET=""
ZOHO_REDIRECT_URL="http://sites.wikiconsultoria.com.br/clientes/wiki/oauth2callback/initialize.php"
ZOHO_DEFAULT_USER_IDENTIFIER=""
ZOHO_USER_IDENTIFIER=""

# Zoho Oauth
ZOHO_REDIRECT_URL="http://sites.wikiconsultoria.com.br/clientes/wiki/oauth2callback/initialize.php"
ZOHO_MYSQL_MODULE="./mysql/mysql_util"
ZOHO_IAMURL="accounts.zoho.com"
ZOHO_BASEURL="www.zohoapis.com"
ZOHO_VERSION="v2"
ZOHO_MYSQL_HOST=""
ZOHO_MYSQL_USERNAME=""
ZOHO_MYSQL_PASSWORD=""

# Importzoho
STACK_POOL_SIZE=5

# Winston
WINSTON_CONSOLE_LEVEL="debug"
WINSTON_LOG_ERROR_LEVEL="error"
WINSTON_LOG_ALL_LEVEL="info"
WINSTON_LOG_PATH="./log
